<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <title>Task Manager App</title>
    </head>
    <body>
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <h1 class="text-center mt-3">Task Manager App</h1>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <div  class="p-2 rounded-3 border form">
                        <div class="input-group input-group-lg">
                            <input
                                type="text"
                                name="title"
                                class="form-control shadow-none"
                                placeholder="Enter a new title"
                                id ="my-input"
                            />
                            <button class="btn btn-primary shadow-none" type="button" id ="add-button">
                                Add new task
                            </button>
                        </div>
                        <div class="form-check mt-1 mb-0">
                            <input
                                class="form-check-input shadow-none"
                                type="checkbox"
                                name="completed"
                                id="my-checkbox"
                            />
                            <label class="form-check-label user-select-none" for="my-checkbox">
                                The task is completed.
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                     
                    <ul class="list-group lh-lg d-none">
                         
                        </ul>
                        
                            <h2 class ="text-center d-none">there is no task</h2>
                           
                </div>
            </div>
        </div>
		<script src="js/axios.js"></script>
        <script src ="js/script.js"></script>
    </body>
</html>
